.tabs {
  --tabsBodyRowGap: 0;
  --tabsNonActiveContentDisplay: none;

  display: grid;
  row-gap: 20px;

  &--enable-only-on-mobile {
    @include mobile-above {
      --tabsNonActiveContentDisplay: block;
      --tabsNavigationDisplay: none;
    }
  }

  &__body {
    display: grid;
    row-gap: var(--tabsBodyRowGap);
  }

  &__content {
    &:not(.is-active) {
      display: var(--tabsNonActiveContentDisplay);
    }
  }
}