.tabs {
  --tabsNonActiveContentDisplay: none;

  &--enable-only-on-mobile {
    @include mobile-above {
      --tabsNonActiveContentDisplay: block;
      --tabsNavigationDisplay: none;
    }
  }

  &__content {
    &:not(.is-active) {
      display: var(--tabsNonActiveContentDisplay);
    }
  }
}