.ratings {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fluid-to-laptop(20, 16);
  }

  &__item {
    display: grid;
    row-gap: 4px;
    padding: fluid(16, 12);
    border: var(--border);
    border-radius: var(--border-radius-s);
    background-color: var(--color-black-08);

    @include mobile {
      row-gap: 2px;
    }
  }

  &__title {
    @include fluid-text(20, 14);


  }
}