.person-card {
  &__image {
    width: fluid(102, 70);
    border: var(--border-width-s) solid transparent;
    border-radius: var(--border-radius-l);
    transition-duration: var(--transition-duration);

    @include laptop {
      border-radius: var(--border-radius-m);
    }

    @include hover {
      border-color: var(--color-white);
    }
  }
}