.section {
  display: grid;
  row-gap: fluid(80, 40);
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    @include mobile {
      flex-direction: column;
      align-items: start;
      row-gap: 20px;
    }

    &:has(.section__description) {
      align-items: end;

      @include mobile {
        align-items: start;
      }
    }
  }

  &__info {
    display: grid;
    row-gap: fluid-to-laptop(14, 10);
  }
}