.select {
  --selectButtonArrowIconUrl: url('@/assets/images/select/arrow-down_gray.svg');
  --selectButtonArrowIconSize: #{fluid-to-laptop(24, 20)};
  --selectButtonGapX: #{fluid-to-laptop(6, 4)};
  --selectButtonPaddingX: var(--field-padding-x);

  flex-shrink: 0;

  &__original-control,
  &__button {
    min-width: 75px;
  }

  &__original-control {
    appearance: none;
    padding-left: var(--selectButtonPaddingX);
    padding-right: calc(
      var(--selectButtonArrowIconSize)
      + var(--selectButtonPaddingX)
      + var(--selectButtonGapX)
    );
    background-image: var(--selectButtonArrowIconUrl);
    background-position: calc(100% - var(--selectButtonPaddingX)) 50%;
    background-size: var(--selectButtonArrowIconSize);
    background-repeat: no-repeat;

    @include mobile-above {
      @include visually-hidden;
    }

    &:disabled {
      & + .select__body {
        @include disabled;

        * {
          pointer-events: none;
        }
      }
    }
  }

  &__body {
    position: relative;
  }

  &__button,
  &__option {
    user-select: none;
    cursor: pointer;

    * {
      pointer-events: none;
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--selectButtonGapX);
    padding-inline: var(--selectButtonPaddingX);
    transition-duration: var(--transition-duration);

    @include mobile {
      @include visually-hidden;
    }

    &::after {
      @include square(var(--selectButtonArrowIconSize));

      content: '';
      background: var(--selectButtonArrowIconUrl) center/contain no-repeat;
      transition-duration: inherit;
    }

    &.is-expanded {
      &::after {
        rotate: 180deg;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 4px);
    display: grid;
    row-gap: 4px;
    min-width: 300px;
    max-height: 250px;
    overflow-y: auto;
    overscroll-behavior: none;
    padding: 4px;
    background-color: var(--color-black-06);
    border: var(--border);
    border-radius: var(--border-radius-l);
    transition-duration: var(--transition-duration);

    &.is-on-the-left-side {
      left: 0;
      transform-origin: 0 0;
    }

    &.is-on-the-right-side {
      right: 0;
      transform-origin: 100% 0;
    }

    &:not(.is-expanded) {
      @include hide;

      scale: 0;
    }
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border: var(--border);
    border-radius: inherit;

    @include hover {
      color: var(--color-white);
      border-color: var(--color-white);
    }

    &.is-selected {
      color: var(--color-white);

      &::after {
        content: '✓';
      }
    }

    &.is-current {
      border-color: var(--color-white);
    }
  }
}