.slider {
  position: relative;

  &--beyond-the-viewport-on-mobile-s {
    @include mobile-s {
      width: calc(100vw - var(--container-padding-x));
    }
  }

  &__item {
    width: auto;
  }

  &__navigation {
    margin-top: fluid(40, 24);
  }

  &__scrollbar {
    @include abs-x;
    top: calc(100% + 24px);
    width: 80px;
    height: 5px;
    background-color: var(--color-black-20);
    border-radius: 20px;

    &-drag {
      height: 100%;
      background-color: var(--color-red-45);
      border-radius: inherit;
    }
  }
}